body {
	background-image: url(http://onlineteachingtoolkit.com/images/yellow-white-gradient.jpg);
}
img {
    box-shadow: 5px 5px 5px #7C7C7C;
    box-shadow: 5px 5px 5px #7C7C7C;
    border: double 3px  #7C7C7C;
    border-radius: 30px;
}

img:hover {
	background-color: white;
	border-radius: 125%;
	
}